#manage_menu_table {
    width: 100%;
}

#manage_menu_table td {
    text-align: left;
}

#manage_menu_table_content_cell {
    width: 50%;
    padding-right: 20px;
}

#manage_menu_table_left_cell {
    vertical-align: top;
}

#manage_menu_table_right_cell {
    vertical-align: top;
}
