#list_table {
}

td.list_table_title_cell {
    vertical-align: top;
    font-weight: bold;
    padding: 2px;
}

td.list_table_title_cell_centered {
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

td.list_table_datum_cell {
    vertical-align: top;
    padding: 2px;
}

td.list_table_datum_cell_centered {
    vertical-align: top;
    text-align: center;
    padding: 2px;
}

