td.detail_table_left_cell {
    vertical-align: top;
    width: 50%;
    padding-right: 10px;
}

td.detail_table_right_cell {
    vertical-align: top;
    width: 50%;
    padding-left: 10px;
}

td.detail_table_title_cell {
    vertical-align: top;
    font-weight: bold;
}

td.detail_table_title_cell_centered {
    vertical-align: top;
    text-align: center;
    font-weight: bold;
}   

td.detail_table_title_cell_right {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

td.detail_table_datum_cell {
    vertical-align: top;
}

td.detail_table_datum_cell_centered {
    vertical-align: top;
    text-align: center;
}

td.detail_table_datum_cell_right {
    vertical-align: top;
    text-align: right;
}

