#ic-manage-app-container {
  text-align: left;
}

.yui3-js-enabled .hide-while-loading {
  display: none;
}

.hide {
  display: none;
}

#application-loading {
  border: 1px dashed #d7d7d7;
  width: 400px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  margin: 4em auto;
}

.allow-overflow {
  overflow: visible !important;
}

#manage_header span {
  font-size: 138.5%; 
  font-weight: bold;
}

#manage_footer {
  padding: 8px;
  font-size: 85%;
}

#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
