.yui3-js-enabled .hide-while-loading {
    display: none;
}

.hide {
    display: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.allow-overflow {
    overflow: visible !important;
}

#ic-manage-window {
    text-align: left;
}

#application-loading {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: auto;
    font-size: 182%;
    text-shadow: 0px 1px 1px #D7D7D7;
    text-align: center;
    vertical-align: middle;
}

#manage_header {
    padding: 10px;
}

#manage_header span {
    font-size: 138.5%; 
    font-weight: bold;
}

/*
#yui-history-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    visibility: hidden;
}
*/
