div.yui3-ic_renderer_keyvalue-hidden {
    visibility: hidden;
}

div.yui3-ic_renderer_keyvalue-content span.key_value_title {
    font-weight: bold;
}

div.yui3-ic_renderer_keyvalue-content {
    clear: both;
}

div.yui3-ic_renderer_keyvalue-content dl {
    margin: 2px 0 1em 0;
    border: 1px solid #d7d7d7;
    float: left;
    clear: left;
    background-color: #f8f8f8;
}

div.yui3-ic_renderer_keyvalue-content dl:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div.yui3-ic_renderer_keyvalue-content dt {
    clear: left;
    width: 15em;
    float: left;
    padding-left: 0.5em;
    border-top: 1px dotted #d7d7d7;
    background-color: #f8f8f8;
}

div.yui3-ic_renderer_keyvalue-content dd {
    clear: right;
    width: 15em;
    float: left;
    margin: 0 0 0 0;
    padding-left: 0.5em;
    border-top: 1px dotted #d7d7d7;
    border-left: 1px dotted #d7d7d7;
    background-color: #f8f8f8;
}

div.yui3-ic_renderer_keyvalue-content dt:first-child {
    border-top: none;
}

div.yui3-ic_renderer_keyvalue-content dl dt:first-child + dd {
    border-top: none;
}

