div.yui3-ic_renderer_tile-hidden {
    display: none;
}

div.yui3-ic_renderer_tile-content div.yui3-widget-bd {
    overflow: auto;
}

div.ic_renderer_tile_header_title {
    font-weight: bold;
    vertical-align: middle;
}

div.ic_renderer_tile_header_buttons {
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 85%;
}

div.ic_renderer_tile_header_mesg {
    vertical-align: middle;
    white-space: nowrap;
    font-size: 85%;
}
