.yui3-ic_manage_function_list-hidden {
    display: none;
}

div.yui-dt div.yui-dt-paginator:first-child {
    display: none;
}

.yui-skin-sam .yui-dt-scrollable .yui-dt-hd {
  border-top: 0 none !important;
  border-right: 0 none !important;
}

.yui-skin-sam .yui-dt-scrollable .yui-dt-bd {
  background-color: transparent !important;
  border-bottom: 0 none !important;
  border-right: 0 none !important;
}
